h1{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: underline;
    text-transform: uppercase;


}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: #ffff23;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: 5px;
    line-height: 2;
    text-decoration: underline;
    text-transform: uppercase;

}